<!doctype html>
<html lang="en" ng-app="buApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>BU</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="bu.js"></script>
    <script src="directives/bu-progressive.js"></script>
    <script src="directives/bu-drill.js"></script>
    <link href="bu.css" rel="stylesheet"/>

</head>


<body ng-controller="ProgressiveDrillTest">
    <div>
        <button ng-click="ctrl.afterShot(true)">Yes</button>
        <button ng-click="ctrl.afterShot(false)">No</button>
        <div progressive-drill num-of-shots="10" start-pos="4">
        </div>
        <div>Score: {{ctrl.score}}</div>
    </div>

    <hr/>

    <table class="exam-table">
        <tr>
            <th>Drill</th>
            <th>Topic</th>
            <th>Results</th>
            <th>Score</th>
        </tr>

        <tr>
            <td>{{drills[0].id}}</td>
            <td>Cut</td>
            <td><bu-progressive score="drills[0].score"></bu-progressive></td>
            <td>{{drills[0].score}}</td>
        </tr>

        <tr>
            <td>{{drills[5].id}}</td>
            <td>Potting</td>
            <td><bu-drill num-of-shots="10" tries-per-shot="1" score="drills[5].score"></bu-drill></td>
            <td>{{drills[5].score}}</td>
        </tr>

        <tr>
            <td>{{drills[6].id}}</td>
            <td>Wagon wheel</td>
            <td><bu-drill num-of-shots="10" tries-per-shot="2" score="drills[6].score"></bu-drill></td>
            <td>{{drills[6].score}}</td>
        </tr>

        <tr>
            <td colspan="3">Total (max = 100)</td>
            <td>{{getTotalScore()}}</td>
        </tr>
    </table>

</body>


</html>

