<div ng-controller="exam1Controller">
    <h3>BU Exam I - Fundamentals</h3>
    <div class="examHeader">
        <span>Date: {{examDate.toISOString().slice(0,10)}}</span>
    </div>
    <table class="exam-table">
        <tr>
            <th>Drill</th>
            <th>Topic</th>
            <th>Results</th>
            <th>Score</th>
        </tr>

        <tr ng-repeat="drill in drills | filter:{type:'progressive'}">
            <td>{{drill.id}}</td>
            <td>{{drill.name}}</td>
            <td><bu-progressive score="drill.score"></bu-progressive></td>
            <td>{{drill.score}}</td>
        </tr>

        <tr>
            <td>{{drills[5].id}}</td>
            <td>{{drills[5].name}}</td> <!--Potting-->
            <td><bu-boolean num-of-shots="10" tries-per-shot="1" score="drills[5].score"></bu-boolean></td>
            <td>{{drills[5].score}}</td>
        </tr>

        <tr>
            <td>{{drills[6].id}}</td>
            <td>{{drills[6].name}}</td> <!--Wagon wheel-->
            <td><bu-boolean num-of-shots="10" tries-per-shot="2" score="drills[6].score"></bu-boolean></td>
            <td>{{drills[6].score}}</td>
        </tr>

        <tr>
            <td>{{drills[7].id}}</td>
            <td>{{drills[7].name}}</td> <!--Target-->
            <td><bu-boolean num-of-shots="5" tries-per-shot="4" score="drills[7].score"></bu-boolean></td>
            <td>{{drills[7].score}}</td>
        </tr>

        <tr>
            <td colspan="3">Total (max = 100)</td>
            <td>{{getTotalScore()}}</td>
        </tr>
        <tr>
            <td colspan="4">Exam II Placement - {{exam2Level()}}</td>
        </tr>
    </table>

    <div class="examFooter">
        <span>Notes:</span>
        <input type="text" ng-model="notes" style="width: 300px">
        <button ng-click="saveResults()">Save</button>
    </div>


</div>