<div ng-controller="homeController" ng-init="load()">
    <h3>BU</h3>
    <div>
        <span>Take exam:</span>
        <select ng-model="examUrl" ng-options="e.url as e.name for e in exams">
            <option value="">-- Select --</option>
        </select>
        <button ng-click="takeExam()">Go</button>
    </div>
    <hr/>
    <h3>History</h3>
    <div>
        <a href="" ng-click="deleteSelected()" ng-show="history.length > 0">Clear</a>
        <a href="" ng-click="deleteAll()" ng-show="history.length > 0">Clear All</a>
    </div>

    <tabset>
    <tab heading="Exam I">
    <table class="result-table">
        <tr>
            <th></th>
            <th>Date/Time</th>
            <th>Cuts</th>
            <th>Stop</th>
            <th>Follow</th>
            <th>Draw</th>
            <th>Stan</th>
            <th>Potting</th>
            <th>Wagon</th>
            <th>Targets</th>
            <th>Total Score</th>
            <th>Notes</th>
        </tr>
        <tr ng-repeat="h in history | filter: {type:'exam1'}">
            <td><input type="checkbox" value="{{h.key}}" ng-checked="inSelection(h.key)" ng-click="toggleSelection(h.key)"></td>
            <td>{{h.date | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{getDrillScore(h.drills, 'f1')}}</td>
            <td>{{getDrillScore(h.drills, 'f2')}}</td>
            <td>{{getDrillScore(h.drills, 'f3')}}</td>
            <td>{{getDrillScore(h.drills, 'f4')}}</td>
            <td>{{getDrillScore(h.drills, 'f5')}}</td>
            <td>{{getDrillScore(h.drills, 'f6')}}</td>
            <td>{{getDrillScore(h.drills, 'f7')}}</td>
            <td>{{getDrillScore(h.drills, 'f8')}}</td>
            <td>{{h.totalScore}}</td>
            <td>{{h.notes}}</td>
        </tr>
    </table>
    </tab>
    <tab heading="Exam II">
    <table class="result-table">
        <tr>
            <th></th>
            <th>Date/Time</th>
            <th>Level</th>
            <th>Line</th>
            <th>Rail</th>
            <th>9-Ball</th>
            <th>8-Ball</th>
            <th>Safe</th>
            <th>Kick</th>
            <th>Bank</th>
            <th>Elevated</th>
            <th>Jump/Masse</th>
            <th>Break</th>
            <th>Total Score</th>
            <th>Notes</th>
        </tr>
        <tr ng-repeat="h in history  | filter: {type:'exam2'}">
            <td><input type="checkbox" value="{{h.key}}" ng-checked="inSelection(h.key)" ng-click="toggleSelection(h.key)"></td>
            <td>{{h.date | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{getLevelName(h.level)}}</td>
            <td>{{getDrillScore(h.drills, 's1')}}</td>
            <td>{{getDrillScore(h.drills, 's2')}}</td>
            <td>{{getDrillScore(h.drills, 's3')}}</td>
            <td>{{getDrillScore(h.drills, 's4')}}</td>
            <td>{{getDrillScore(h.drills, 's5')}}</td>
            <td>{{getDrillScore(h.drills, 's6')}}</td>
            <td>{{getDrillScore(h.drills, 's7')}}</td>
            <td>{{getDrillScore(h.drills, 's8')}}</td>
            <td>{{getDrillScore(h.drills, 's9')}}</td>
            <td>{{getDrillScore(h.drills, 's10')}}</td>
            <td>{{h.totalScore}}</td>
            <td>{{h.notes}}</td>
        </tr>
    </table>
    </tab>
    </tabset>

</div>